body{
	background: #5E6367;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}
/* .logo{
	color: white;
} */

/* src/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
