@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Roboto+Condensed:ital,wght@1,300&display=swap');

body{
	background: #5E6367;
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}
.logo{
	color: white;
}